<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="allure-results" value="C:\\Users\\1034557\\source\\sts\\retail-catman-test-automation\\STSWebAutomation\\allure-results"/>
		<add key="webhook-url" value="https://jda365.webhook.office.com/webhookb2/95aab311-a9ba-4a63-afe5-d6116eb7e2e9@2ac36cee-0617-4ac0-bebf-e1ce5dfab86c/IncomingWebhook/752b8ea700a24adeb1fc98ad28e4617e/22de91ca-1f24-47b3-bbf0-b23d2214e8fc"/>
	</appSettings>
</configuration>